spring:
  application:
    name: desafio

  mail:
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD_APP}
    host: smtp.gmail.com
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  datasource:
    url: jdbc:postgresql://localhost:5432/db_desafio
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

jwt:
  time-expiration:
    short-expiration: 1200000
    long-expiration: 86400000

  secret-key:
    key-base64: ${SECRET_KEY_IN_BASE_64}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
    operationsSorter: method
    tagsSorter: alpha
    tryItOutEnabled: true
    display-request-duration: true

logging:
  level:
    com.example.desafio: DEBUG
